.easy-qa-grid {
  .item {
    margin-bottom: 30px;
  }

  .see-answer-sm,
  .see-answer-lg {
    display: none;
    color: #fff;
    background: #000;
    padding: 10px 20px;
  }

  .post-body {
    min-height: 125px;
    position: relative;
    padding: 10px;
    background: black;
  }

  .author-body {
    background: #333;
    color: #b7b7b7;
    height: 65px;
  }

  .author-info {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
  }

  a,
  a:hover {
    color: #fff;
  }

  .isotope-item {
    z-index: 2;
  }

  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }

  .isotope {
    transition-property: height, width;

    .isotope-item {
      transition-duration: 0.8s;
      transition-property: transform, opacity;
    }
  }
}