.easy-qa-form {
  margin: 1em 0;
  float: none;

  .loading {
    pointer-events: none;
    opacity: 0.5;
  }

  .has-error {
    color: red;

    input {
      border-color: red;
      color: red;
      background: lightpink;
    }
  }

  .error-text {
    color: red;
    font-style: italic;
  }

  .recaptcha iframe.has-error {
    border: 1px solid red;
  }

  form {
    display: none;

    &.active {
      display: block;
    }

  }

  .form-group {
    margin: 0 0 0.5em 0;
  }
}